numpy
pandas
opencv-python
torch
torchvision
ultralytics
torchreid
motmetrics
gdown
trackeval @ git+https://github.com/JonathonLuiten/TrackEval.git
deep-sort @ git+https://github.com/nwojke/deep_sort.git
